<html>
<head>
  <title>PayPal Checkout - Mark w/NVP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>

<body>
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" id="home">
      <i class="home icon"></i> Home
    </a>
  </div>
</div>
<div class="ui raised container segment visible content" id="cart">
  <h2 class="ui header">PayPal Checkout - Mark</h2>
  <form class="ui form" action="/checkout" method="POST">
    <h4 class="ui dividing header">Cart</h4>
    <div class="fields">
      <div class="six wide field">
        <label>Fruit</label>
        <div class="ui form">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="fruit" value="apples" checked="" tabindex="0" class="hidden">
                <label>Apples</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="fruit" value="oranges" tabindex="0" class="hidden">
                <label>Oranges</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="fruit" value="pears" tabindex="0" class="hidden">
                <label>Pears</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="fruit" value="grapefruit" tabindex="0" class="hidden">
                <label>Grapefruit</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>Count</label>
        <input name="fruitCount" type="text" value="1">
      </div>
    </div>
    <div class="fields">
      <div class="six wide field">
        <label>Vegetables</label>
        <div class="ui form">
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="vegetable" value="celery" checked="" tabindex="0" class="hidden">
                <label>Celery</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="vegetable" value="swiss chard" tabindex="0" class="hidden">
                <label>Swiss Chard</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="vegetable" value="jacinto kale" tabindex="0" class="hidden">
                <label>Jacinto Kale</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="vegetable" value="spinach" tabindex="0" class="hidden">
                <label>Spinach</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two wide field">
        <label>Count</label>
        <input name="vegetableCount" type="text" value="1">
      </div>
    </div>
    <button class="ui button" type="submit">Checkout</button>
  </form>
</div>
<script>
    $("#home").click(function () {
        /* function goes in here */
        location.reload()
    });

    $('.ui.radio.checkbox')
        .checkbox()
    ;
</script>
</body>
</html>